@model WeatherData;

@{
    ViewData["Title"] = "Home Page";
}

<div id="TempSensorView">
    @Html.Partial("SensorsView1", Model);
</div>
<script type="text/javascript">
//    $(function () {
//        setInterval(function ()
//        { $('#TempSensorView').load('/Home/UpdateWeatherView'); }, 1000); // every 1 sec
    //    });
    $(function () {
        setInterval(function () {
            $.post("http://192.168.0.105:5001/Home/GetLastWeatherData", function (data, status) {
                $('canvas[data-type="linear-gauge"]').attr('data-value', data[0]);
                $('canvas[data-type="radial-gauge"]').attr('data-value', data[1]);

            })


        }, 1000);

    });
</script>